<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="symbiotic.target" sequenceNumber="254">
<locations>
  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
	<repository location="http://download.eclipse.org/rt/rap/4.7"/>
	<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="4.7.0.20260603-1800"/>
	<unit id="org.eclipse.rap.examples.feature.feature.group" version="4.7.0.20260603-1800"/>
	<unit id="org.eclipse.rap.feature.feature.group" version="4.7.0.20260603-1800"/>
	<unit id="org.eclipse.rap.sdk.feature.feature.group" version="4.7.0.20260603-1800"/>
  </location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>com.google.code.gson</groupId>
				<artifactId>gson</artifactId>
				<version>2.13.2</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>commons-codec</groupId>
				<artifactId>commons-codec</artifactId>
				<version>1.22.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>commons-logging</groupId>
				<artifactId>commons-logging</artifactId>
				<version>1.3.6</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>jakarta.annotation</groupId>
				<artifactId>jakarta.annotation-api</artifactId>
				<version>3.0.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>jakarta.persistence</groupId>
				<artifactId>jakarta.persistence-api</artifactId>
				<version>4.0.0-M1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.commons</groupId>
				<artifactId>commons-math3</artifactId>
				<version>3.6.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.osgi</groupId>
				<artifactId>org.osgi.framework</artifactId>
				<version>1.10.0</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
</locations>
<includeBundles>
	<plugin id="org.apache.commons.commons-codec.source"/>
	<plugin id="com.google.gson"/>
	<plugin id="com.google.gson.source"/>
	<plugin id="jakarta.persistence-api"/>
	<plugin id="jakarta.persistence-api.source"/>
	<plugin id="org.osgi.framework"/>
	<plugin id="org.osgi.framework.source"/>
	<plugin id="org.apache.commons.math3"/>
	<plugin id="org.apache.commons.math3.source"/>
	<plugin id="com.ibm.icu"/>
	<plugin id="com.ibm.icu.source"/>
	<plugin id="jakarta.servlet-api"/>
	<plugin id="jakarta.servlet-api.source"/>
	<plugin id="org.apache.aries.spifly.dynamic.bundle"/>
	<plugin id="org.apache.commons.commons-fileupload2-core"/>
	<plugin id="org.apache.commons.commons-fileupload2-jakarta-servlet6"/>
	<plugin id="org.apache.commons.commons-io"/>
	<plugin id="org.apache.felix.gogo.command"/>
	<plugin id="org.apache.felix.gogo.command.source"/>
	<plugin id="org.apache.felix.gogo.runtime"/>
	<plugin id="org.apache.felix.gogo.runtime.source"/>
	<plugin id="org.apache.felix.gogo.shell"/>
	<plugin id="org.apache.felix.gogo.shell.source"/>
	<plugin id="org.apache.felix.scr"/>
	<plugin id="org.apache.felix.scr.source"/>
	<plugin id="org.eclipse.core.commands"/>
	<plugin id="org.eclipse.core.commands.source"/>
	<plugin id="org.eclipse.core.contenttype"/>
	<plugin id="org.eclipse.core.contenttype.source"/>
	<plugin id="org.eclipse.core.databinding"/>
	<plugin id="org.eclipse.core.databinding.beans"/>
	<plugin id="org.eclipse.core.databinding.beans.source"/>
	<plugin id="org.eclipse.core.databinding.observable"/>
	<plugin id="org.eclipse.core.databinding.observable.source"/>
	<plugin id="org.eclipse.core.databinding.property"/>
	<plugin id="org.eclipse.core.databinding.property.source"/>
	<plugin id="org.eclipse.core.databinding.source"/>
	<plugin id="org.eclipse.core.expressions"/>
	<plugin id="org.eclipse.core.expressions.source"/>
	<plugin id="org.eclipse.core.jobs"/>
	<plugin id="org.eclipse.core.jobs.source"/>
	<plugin id="org.eclipse.core.runtime"/>
	<plugin id="org.eclipse.core.runtime.source"/>
	<plugin id="org.eclipse.equinox.app"/>
	<plugin id="org.eclipse.equinox.app.source"/>
	<plugin id="org.eclipse.equinox.cm"/>
	<plugin id="org.eclipse.equinox.cm.source"/>
	<plugin id="org.eclipse.equinox.common"/>
	<plugin id="org.eclipse.equinox.common.source"/>
	<plugin id="org.eclipse.equinox.console"/>
	<plugin id="org.eclipse.equinox.console.source"/>
	<plugin id="org.eclipse.equinox.event"/>
	<plugin id="org.eclipse.equinox.event.source"/>
	<plugin id="org.eclipse.equinox.preferences"/>
	<plugin id="org.eclipse.equinox.preferences.source"/>
	<plugin id="org.eclipse.equinox.registry"/>
	<plugin id="org.eclipse.equinox.registry.source"/>
	<plugin id="org.eclipse.help"/>
	<plugin id="org.eclipse.help.source"/>
	<plugin id="org.eclipse.jdt.junit.runtime"/>
	<plugin id="org.eclipse.jdt.junit.runtime.source"/>
	<plugin id="org.eclipse.jetty.ee10.servlet"/>
	<plugin id="org.eclipse.jetty.http"/>
	<plugin id="org.eclipse.jetty.http.source"/>
	<plugin id="org.eclipse.jetty.io"/>
	<plugin id="org.eclipse.jetty.io.source"/>
	<plugin id="org.eclipse.jetty.logging"/>
	<plugin id="org.eclipse.jetty.security"/>
	<plugin id="org.eclipse.jetty.security.source"/>
	<plugin id="org.eclipse.jetty.server"/>
	<plugin id="org.eclipse.jetty.server.source"/>
	<plugin id="org.eclipse.jetty.session"/>
	<plugin id="org.eclipse.jetty.util"/>
	<plugin id="org.eclipse.jetty.util.ajax"/>
	<plugin id="org.eclipse.jetty.util.ajax.source"/>
	<plugin id="org.eclipse.jetty.util.source"/>
	<plugin id="org.eclipse.osgi"/>
	<plugin id="org.eclipse.osgi.source"/>
	<plugin id="org.eclipse.osgi.util"/>
	<plugin id="org.eclipse.rap.demo"/>
	<plugin id="org.eclipse.rap.demo.controls"/>
	<plugin id="org.eclipse.rap.demo.controls.source"/>
	<plugin id="org.eclipse.rap.demo.databinding"/>
	<plugin id="org.eclipse.rap.demo.databinding.source"/>
	<plugin id="org.eclipse.rap.demo.source"/>
	<plugin id="org.eclipse.rap.design.example"/>
	<plugin id="org.eclipse.rap.design.example.source"/>
	<plugin id="org.eclipse.rap.examples"/>
	<plugin id="org.eclipse.rap.examples.pages"/>
	<plugin id="org.eclipse.rap.examples.pages.source"/>
	<plugin id="org.eclipse.rap.examples.source"/>
	<plugin id="org.eclipse.rap.filedialog"/>
	<plugin id="org.eclipse.rap.filedialog.demo.examples"/>
	<plugin id="org.eclipse.rap.filedialog.demo.examples.source"/>
	<plugin id="org.eclipse.rap.filedialog.source"/>
	<plugin id="org.eclipse.rap.fileupload"/>
	<plugin id="org.eclipse.rap.fileupload.source"/>
	<plugin id="org.eclipse.rap.http.jetty"/>
	<plugin id="org.eclipse.rap.http.jetty.source"/>
	<plugin id="org.eclipse.rap.http.registry"/>
	<plugin id="org.eclipse.rap.http.registry.source"/>
	<plugin id="org.eclipse.rap.http.servlet"/>
	<plugin id="org.eclipse.rap.http.servlet.source"/>
	<plugin id="org.eclipse.rap.http.servletbridge"/>
	<plugin id="org.eclipse.rap.http.servletbridge.source"/>
	<plugin id="org.eclipse.rap.jface"/>
	<plugin id="org.eclipse.rap.jface.databinding"/>
	<plugin id="org.eclipse.rap.jface.databinding.source"/>
	<plugin id="org.eclipse.rap.jface.source"/>
	<plugin id="org.eclipse.rap.nebula.jface.gridviewer"/>
	<plugin id="org.eclipse.rap.nebula.jface.gridviewer.source"/>
	<plugin id="org.eclipse.rap.nebula.widgets.grid"/>
	<plugin id="org.eclipse.rap.nebula.widgets.grid.demo.examples"/>
	<plugin id="org.eclipse.rap.nebula.widgets.grid.demo.examples.source"/>
	<plugin id="org.eclipse.rap.nebula.widgets.grid.source"/>
	<plugin id="org.eclipse.rap.nebula.widgets.richtext"/>
	<plugin id="org.eclipse.rap.nebula.widgets.richtext.demo.examples"/>
	<plugin id="org.eclipse.rap.nebula.widgets.richtext.demo.examples.source"/>
	<plugin id="org.eclipse.rap.nebula.widgets.richtext.source"/>
	<plugin id="org.eclipse.rap.rwt"/>
	<plugin id="org.eclipse.rap.rwt.addons"/>
	<plugin id="org.eclipse.rap.rwt.addons.source"/>
	<plugin id="org.eclipse.rap.rwt.osgi"/>
	<plugin id="org.eclipse.rap.rwt.osgi.source"/>
	<plugin id="org.eclipse.rap.rwt.source"/>
	<plugin id="org.eclipse.rap.rwt.testfixture"/>
	<plugin id="org.eclipse.rap.rwt.testfixture.source"/>
	<plugin id="org.eclipse.rap.servletbridge"/>
	<plugin id="org.eclipse.rap.servletbridge.source"/>
	<plugin id="org.eclipse.rap.ui"/>
	<plugin id="org.eclipse.rap.ui.cheatsheets"/>
	<plugin id="org.eclipse.rap.ui.cheatsheets.source"/>
	<plugin id="org.eclipse.rap.ui.forms"/>
	<plugin id="org.eclipse.rap.ui.forms.source"/>
	<plugin id="org.eclipse.rap.ui.source"/>
	<plugin id="org.eclipse.rap.ui.views"/>
	<plugin id="org.eclipse.rap.ui.views.source"/>
	<plugin id="org.eclipse.rap.ui.workbench"/>
	<plugin id="org.eclipse.rap.ui.workbench.source"/>
	<plugin id="org.hamcrest"/>
	<plugin id="org.hamcrest.core"/>
	<plugin id="org.hamcrest.core.source"/>
	<plugin id="org.junit"/>
	<plugin id="org.junit.source"/>
	<plugin id="org.objectweb.asm"/>
	<plugin id="org.objectweb.asm.commons"/>
	<plugin id="org.objectweb.asm.tree"/>
	<plugin id="org.objectweb.asm.tree.analysis"/>
	<plugin id="org.objectweb.asm.util"/>
	<plugin id="org.osgi.service.cm"/>
	<plugin id="org.osgi.service.cm.source"/>
	<plugin id="org.osgi.service.component"/>
	<plugin id="org.osgi.service.component.source"/>
	<plugin id="org.osgi.service.coordinator"/>
	<plugin id="org.osgi.service.device"/>
	<plugin id="org.osgi.service.device.source"/>
	<plugin id="org.osgi.service.event"/>
	<plugin id="org.osgi.service.event.source"/>
	<plugin id="org.osgi.service.metatype"/>
	<plugin id="org.osgi.service.metatype.source"/>
	<plugin id="org.osgi.service.prefs"/>
	<plugin id="org.osgi.service.prefs.source"/>
	<plugin id="org.osgi.service.provisioning"/>
	<plugin id="org.osgi.service.provisioning.source"/>
	<plugin id="org.osgi.service.upnp"/>
	<plugin id="org.osgi.service.upnp.source"/>
	<plugin id="org.osgi.service.useradmin"/>
	<plugin id="org.osgi.service.useradmin.source"/>
	<plugin id="org.osgi.service.wireadmin"/>
	<plugin id="org.osgi.service.wireadmin.source"/>
	<plugin id="org.osgi.util.function"/>
	<plugin id="org.osgi.util.function.source"/>
	<plugin id="org.osgi.util.measurement"/>
	<plugin id="org.osgi.util.measurement.source"/>
	<plugin id="org.osgi.util.position"/>
	<plugin id="org.osgi.util.position.source"/>
	<plugin id="org.osgi.util.promise"/>
	<plugin id="org.osgi.util.promise.source"/>
	<plugin id="org.osgi.util.xml"/>
	<plugin id="org.osgi.util.xml.source"/>
	<plugin id="slf4j.api"/>
</includeBundles>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jdk-26"/>
</target>